@import url("../fonts/gilroy/stylesheet.css")
  
body, html
  padding: 0
  margin: 0
  font-family: Gilroy, sans-serif

a 
  color: inherit
  text-decoration: none


* 
  box-sizing: border-box

ul
    list-style: none

h1, h2, h3, h4, h5, h5, p
    margin: 0

.container 
    padding: 0 80px

.header 
  background: linear-gradient(#5551F7, #5551F7) left/50vw 100vh no-repeat, linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/tanks-and-smokestacks.png') right/cover no-repeat 
  height: 800px
  width: 100%

.header-container
  display: flex
  justify-content: space-between
  padding-top: 33px


.header__company
    display: flex

.header__logo-name-company 
    margin-left: 20px
    font-size: 14px
    line-height: 100%
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #F6F6F6
    align-self: center
    

.nav-bar 
    width: 45vw
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #F6F6F6

.nav-links 
    display: flex
    flex-direction: row
    justify-content: space-between

.nav-links:not(:first-child)
    opacity: 0.6

.header__position
    display: flex
    margin-top: 165px
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 160%
    color: #F6F6F6
    opacity: 0.5

.header__title
    font-style: normal
    font-weight: 500
    font-size: 84px
    line-height: 100%
    color: #F6F6F6
    margin-top: 20px

.header__hr
    width: 50vw
    padding: 0
    margin-right: 50%
    color: #D6D6D6
    margin-top: 195px

.header__description
    font-style: normal
    font-weight: 300
    font-size: 25px
    line-height: 160%
    color: #F6F6F6
    margin-top: 48px